.form-box{
    /* background-color: antiquewhite; */
    padding: 20px 40px;
    width: fit-content;
    margin: 40px;
    box-shadow: 0px 5px 10px gray;
}

input{
    font-size: 20px;
    padding-left: 5px;
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: 0px 2px 5px rgba(75, 74, 74, 0.678);
}