
.my-toy-dives{
    width: 1100px;
    /* height: 320px; */
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    box-shadow: 0px 3px 5px gray;
    gap: 40px;
    border-radius: 5px;
}

.my-toy-dives img{
    width: 250px;
    height: 230px;
    object-fit: cover;
}
.btn-update{
    padding: 8px 20px;
    font-weight: bold;
    width: 100px;
    /* color: white; */
    background-color: rgb(52, 248, 134);
    border-radius: 8px;
    border: none;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.678);
    margin: 150px 0px 0px 80px;
}
.btn-delete{
    padding: 8px 20px;
    font-weight: bold;
    width: 100px;
    /* color: white; */
    background-color: rgb(255, 107, 107);
    border-radius: 8px;
    border: none;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.678);
    margin: 0px 0px 0px 80px;
}
.texts-btns{
    display: flex;
    justify-content: space-between;
}
